clientcred.secret
usercred.secret
run.sh
corpus.txt
meme.jpg
# backup files
*~
*.db
*.db-journal
*.db-wal
*.db-shm
__pycache__/
.vscode/
.editorconfig
.*.swp
# couldn't decide on a config format lol
*.json
*.toml
!*.defaults.json
venv/
.venv/
