clientcred.secret
usercred.secret
run.sh
corpus.txt
meme.jpg
toots.db
toots.db-journal
toots.db-wal
toots.db-shm
__pycache__/
.vscode/
.editorconfig
.*.swp
# couldn't decide on a config format lol
config.json
config.toml
venv/
.venv/
